#Python = 3.6.13 (3.6 works with spacey)  

en-core-sci-md            0.5.0                    pypi_0    pypi
en-core-sci-sm            0.5.0                    pypi_0    pypi
en-ner-bc5cdr-md          0.5.0                    pypi_0    pypi
en-ner-bionlp13cg-md      0.5.0                    pypi_0    pypi
en-ner-jnlpba-md          0.5.0                    pypi_0    pypi
imbalanced-learn          0.8.1                    pypi_0    pypi
imblearn                  0.0                      pypi_0    pypi
matplotlib                3.3.4                    pypi_0    pypi
nltk                      3.6.7                    pypi_0    pypi
numpy                     1.19.5                   pypi_0    pypi
pandas                    1.1.5                    pypi_0    pypi
scikit-learn              0.24.2                   pypi_0    pypi
scipy                     1.5.4                    pypi_0    pypi
scispacy                  0.5.0                    pypi_0    pypi
seaborn                   0.11.2                   pypi_0    pypi
sklearn                   0.0                      pypi_0    pypi
spacy                     3.2.4                    pypi_0    pypi
spacy-legacy              3.0.9                    pypi_0    pypi
spacy-loggers             1.0.3                    pypi_0    pypi
